<style>
#hor-minimalist-a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 11px;
	background: #fff;
	width: 480px;
	border-collapse: collapse;
	text-align: left;
}
#hor-minimalist-a th {
	font-size: 12px;
	font-weight: normal;
	color: #000;
	padding: 10px 8px;
	border-bottom: 2px solid #dadada;
}
#hor-minimalist-a td {
	color: #000;
	padding: 9px 8px 0px 8px;
}
</style>
<div ng-controller="BillingCtrl">
    <div ng-show="isView('PNT_PREVIEW')">

        <h3>Overview <md-icon>credit_card</md-icon></h3>

        <p class="md-body-1">
            Your current method is: {{curPntInfo.method.description}} <span ng-show="isCurPntType('PAYPAL')">(Paypal)</span> <span ng-show="isCurPntType('CREDIT_CARD')">(Creditcard)</span>
        </p>
        <md-switch class="md-primary" md-no-ink ng-click="autopay(!curPntInfo.autopay)" ng-model="curPntInfo.autopay" aria-label="Autopay">
            Autopay
        </md-switch>
        <a href class="md-primary md-hue-2 tocapitalize" ng-click="setView('PNT_DETAIL')" aria-label="Change payment method" >
            Change payment method
            <md-tooltip md-direction="down">
                Change payment method
            </md-tooltip>
        </a>
        <br/>
        <md-menu>
            <a href class="md-primary md-hue-2" aria-label="Open funds menu" ng-click="$mdOpenMenu($event)">
                Add funds
                <md-tooltip md-direction="down">
                    Add funds
                </md-tooltip>
            </a>
            <md-menu-content width="2">
                <md-menu-item ng-repeat="amount in [5, 10, 20, 25, 30, 50, 100, 150, 200, 250, 500, 1000, 1500, 2000, 3000]">
                    <md-button ng-click="fund(amount)">
                        ${{amount}}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </div>

    <md-button class="md-icon-button" ng-click="setView('PNT_PREVIEW')" ng-show="isView('PNT_DETAIL') && hasPntMethod()">
        <md-icon md-font-library="material-icons">arrow_back</md-icon>
    </md-button>

    <form layout-padding ng-show="isView('PNT_DETAIL')" method="POST" id="payment-form" novalidate>
        <md-radio-group ng-model="newPntInfo.method.type" layout="row">
            <md-radio-button value="PAYPAL" class="md-primary">Paypal</md-radio-button>
            <md-radio-button value="CREDIT_CARD">Credit Card</md-radio-button>
        </md-radio-group>

        <md-grid-list
                md-cols-sm="1" md-cols-md="3" md-cols-gt-md="6"
                md-row-height-gt-md="1:1" md-row-height="2:2"
                md-gutter="12px" md-gutter-gt-sm="8px" >
            <md-grid-tile md-rowspan="2" md-colspan="4" md-colspan-sm="1">

                <div  ng-show="isPntType('PAYPAL')" id="paypal-container"></div>

                {{$scope.card.type}}
                <div  ng-show="isPntType('CREDIT_CARD')">
                    <div layout="row">
                        <md-input-container>
                            <label>1234 5678 9012 3456</label>
                            <input id="cardNumber" required ng-pattern="/^(0|[1-9][0-9]*)$/" ng-minlength="14"
                                   ng-maxlength="20" data-braintree-name="number"
                                   size="20"
                                   ng-model="card.number"
                                   ng-keyup="validateCard()">
                        </md-input-container>

                        <md-input-container>
                            <label>CVV</label>
                            <input required ng-pattern="/^(0|[1-9][0-9]*)$/" ng-minlength="3" ng-maxlength="4" size="4"
                                   data-braintree-name="cvv" class="form-control cvv" type="text"
                                   size="4" ng-model="card.cvv"/>
                        </md-input-container>

                        <md-input-container>
                            <label>MM/YY</label>
                            <input required ng-pattern="/^((0[1-9])|(1[0-2]))\/(\d{2})$/" ng-minlength="4"
                                   ng-minlength="5" size="6" data-braintree-name="expiration_date"
                                   class="form-control exp" type="text" ng-model="card.expDate"/>
                        </md-input-container>
                    </div>
                    <md-button class="md-primary md-raised" ng-click="savePntInfo()" ng-show="isCurPntType('PAYPAL')">
                        <span class="fa fa-credit-card" ng-class="{'fa-cc-visa': isCard('visa'), 'fa-cc-mastercard': isCard('mastercard'), 'fa-cc-amex': isCard('amex'), }"></span>
                        Save card
                    </md-button>
                    <md-button class="md-primary md-raised" ng-click="savePntInfo()" ng-hide="isCurPntType('PAYPAL')">Update method</md-button>
                </div>
                <md-grid-tile-footer layout-padding>
                    <small ng-bind-html="pntNote"></small>
                </md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </form>

    <p class="md-body-2" ng-show="!isView('PNT_DETAIL') && curPntInfo.transactions.length > 0">Payment History</p>

    <div ng-show="!isView('PNT_DETAIL') && curPntInfo.transactions.length > 0">
        <table id="hor-minimalist-a">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Payment Method</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody >
                <tr ng-repeat="entry in curPntInfo.transactions | orderBy:'-created'">
                    <td>
                        <small>{{entry.id | truncate:4:'':true | uppercase}}</small>
                    </td>
                    <td>
                        <small>{{entry.created | asCalendar}}</small>
                    </td>
                    <td>{{entry.description}}
                        <span ng-if="entry.method == 'paypal_account'">(Paypal)</span>
                        <span ng-if="entry.method == 'credit_card'">(Creditcard)</span>
                        <span ng-if="entry.method != 'credit_card' && entry.method != 'paypal_account'">(Unknown)</span>
                    </td>
                    <td>{{entry.amount | currency}}</td>
                    <td>{{entry.status | humanize}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

