.idtag {
    border: 1px solid;
    border-radius: 5px;
    font-size: 11px;
    margin-top: 3px;
    margin-left: 20px;
    background-color: #fff;
    color: #b3b3b3;
    padding: 3px;
}

.test-button {
    position: absolute;
    right: 20px;
    top: 120px;
}

.loading {
    position: absolute;
    right: 20px;
    top: 120px;
}

md-toast.md-editor-toast-theme .md-toast-content {
    background-color: #fff;
    color: #000;
}

md-toast.md-editor-toast-theme .md-button {
    color: red;
    background-color: green;
}

.CodeMirror {
    z-index: 0;
}

.CodeMirror-code {
    margin-top: 10px;
}

.cm-s-base16-light.CodeMirror {
    background: #fff;
    color: #202020;
}

.cm-s-base16-light .CodeMirror-gutters {
    background: #fff;
    border-right: 0px;
}

.cm-s-base16-light .CodeMirror-activeline-background {
    background: #fffcf1;
}

.cm-s-base16-light span.cm-string { color: #795548; }