<div class="wbox">
    <h3 style="margin-bottom: 5p">Type your email</h3>
    <form name="ctrl.forgotForm" ng-submit="ctrl.forgotForm.$valid && ctrl.recover()" novalidate layout="column">
        <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="ctrl.user.email" name="email" maxlength="100" ng-pattern="/^.+@.+\..+$/" autofocus required tabindex="1"/>
        </md-input-container>
        <div layout="row" >
            <span flex></span>
            <md-button class="md-primary" type="submit" tabindex="2">Recover</md-button>
        </div>
    </form>
</div>
<md-button class="top20" md-no-ink class="md-accent md-hue-2" ng-click="ctrl.chgView('login')">Sign in</md-button>
