<style>
    tr.data-rows:hover {
        background-color: #f1f1f1;
        cursor: pointer;
        cursor: hand;
    }
</style>
<md-card id="apps-widget" ng-controller="AppsCtrl as ctrl">
    <md-toolbar class="md-table-toolbar md-default" aria-hidden="false" ng-show="!selected.length">
        <div class="md-toolbar-tools">
            <span>Apps</span>
            <span flex></span>
            <md-button id="add-app" target="_blank" href="app.html#/editor" class="md-icon-button" aria-label="Add">
                <md-tooltip md-direction="left">
                    Create new app
                </md-tooltip>
                <md-icon md-font-library="material-icons">add</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-toolbar class="md-table-toolbar md-hue-3" ng-show="ctrl.selected.length" aria-hidden="false">
        <div class="md-toolbar-tools">
            <div>{{ctrl.selected.length}} {{ctrl.selected.length > 1 ? 'items' : 'item'}} selected</div>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Remove" ng-click="ctrl.remove()">
                <md-icon md-font-library="material-icons">delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-table-container>
        <table md-table md-row-select multiple ng-model="ctrl.selected" md-progress="deferred">
            <thead md-head md-order="ctrl.query.order" md-on-reorder="ctrl.onOrderChange">
                <tr md-row>
                    <th md-column md-order-by="name">Title</th>
                    <th md-column>ID</th>
                    <th md-column md-order-by="modified">Modified</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row class="data-rows" ng-click="ctrl.open(app.id)" md-select="app" md-select-id="id" md-auto-select="false" ng-repeat="app in ctrl.apps.apps | orderBy: ctrl.query.order | limitTo: ctrl.query.limit: (ctrl.query.page - 1) * ctrl.query.limit">
                    <td md-cell>{{app.name}}</td>
                    <td md-cell><i>{{app.id | uppercase}}</i></td>
                    <td md-cell>{{app.modified | asCalendar}}</td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-pagination md-limit="ctrl.query.limit" md-limit-options="[5, 10, 15]" md-page="ctrl.query.page" md-total="{{ctrl.apps.total}}" md-on-paginate="ctrl.onPageChange" md-page-select></md-table-pagination>
</md-card>
