<div class="wbox">
    <hgroup>
        <a href="https://fonoster.com">
            <img class="logo" src="static/assets/images/logo.png">
        </a>
    </hgroup>
    <form name="ctrl.signupForm" ng-submit="ctrl.signup()" layout="column" autocomplete="nope" novalidate>
        <md-input-container ng-hide="ctrl.hasCode()">
            <label>Email</label>
            <input required autofocus type="email" name="clientEmail" ng-model="ctrl.user.email" maxlength="100" ng-pattern="/^.+@.+\..+$/" tabindex="1" autocomplete="nope"/>
        </md-input-container>
        <div layout="row">
            <md-input-container>
                <label>First Name</label>
                <input required type="text" name="firstName" ng-model="ctrl.user.firstName" tabindex="2"/>
            </md-input-container>
            <md-input-container>
                <label>Last Name</label>
                <input required type="text" name="lastName" ng-model="ctrl.user.lastName" tabindex="3"/>
            </md-input-container>
        </div>
        <md-input-container>
            <label>Password</label>
            <input required type="password" name="password" ng-model="ctrl.user.password" tabindex="4" autocomplete="new-password"/>
        </md-input-container>
        <div layout="row" >
            <span flex></span>
            <md-button class="md-primary" type="submit" tabindex="5">Sign up</md-button>
        </div>
    </form>
</div>
<md-button class="top20" href="#" md-no-ink class="md-accent md-hue-2" ng-click="ctrl.chgView('login')">Already have an account? Sign In.</md-button>