<style>
    md-card.md-default-theme md-card-header md-card-avatar md-icon, md-card md-card-header md-card-avatar md-icon {
        color: rgb(250,250,250);
        background-color: #7d7d7d;
    }
</style>
<div layout="row" ng-controller="DashboardCtrl as ctrl">
    <md-card id="traffic-widget">
        <md-card-header>
            <md-card-avatar>
                <md-icon md-font-library="material-icons">show_chart</md-icon>
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Traffic</span>
                <span class="md-subhead">By {{ctrl.period | humanize}}</span>
            </md-card-header-text>
            <md-menu>
                <md-button style="margin-top: -25px" aria-label="Open Account Menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <md-icon md-font-library="material-icons">keyboard_arrow_down</md-icon>
                </md-button>
                <md-menu-content width="2">
                    <md-menu-item>
                        <md-button ng-click="ctrl.drawAnalytics('HOUR')">
                            Hour
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="ctrl.drawAnalytics('DAY')">
                            Day
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="ctrl.drawAnalytics('MONTH')">
                            Month
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-card-header>
        <md-card-content>
            <small ng-hide="ctrl.data.length > 1" >No data</small>
            <nvd3 ng-show="ctrl.data.length > 1" options="ctrl.options" data="ctrl.data" com.fonoster.config="{refreshDataOnly: false}"></nvd3>
        </md-card-content>
    </md-card>
</div>
